<main>
  <h2>Schedule work</h2>
  <% if current_clock %>
	<div class="d-flex align-items-center justify-content-between">
    <%= render partial: 'clock_out_form' %>
		<p class="fs-4">Current session started at <span class= "text-success"><%= current_clock.clock_in.to_formatted_s(:time) %></span></p>
	</div>
  <% else %>
    <%= render partial: 'clock_in_form' %>
  <% end %>
  <%= flash[:notice] %>
  <h3 class="mt-5">Your work logs</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Clock in</th>
        <th scope="col">Clock out</th>
        <th scope="col">Total(HH:MM)</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @work_logs.each do |log| %>
        <tr>
          <td><%= log.clock_in.to_formatted_s(:long) %></td>
          <td><%= log.clock_out %> </td>
          <td>
            <% if log.clock_out %>
              <%= Time.at(log.clock_out - log.clock_in).utc.strftime "%H:%M" %>
            <% else %>
              <span>currently running</span>
            <% end %>
          </td>
          <td><%= log.description %></td>
          <td>
            <%= link_to  "Edit log", edit_work_log_path(log) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
